@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueLTW20-Light.woff');
}

body{
  font-family: 'Helvetica';
}



@layer components {

    .btn-outline-orange{
      @apply px-3 border border-orange-400 text-orange-400 text-center rounded hover:bg-orange-100 cursor-pointer;
    }

    /* options */
    .option{
      @apply p-2 text-xs text-center flex items-center justify-center border rounded cursor-pointer;
    }

    .option-selected{
      @apply bg-orange-100 text-orange-600  border-orange-600;
    }

    /* subtask and attachment */
    .sub-option{
      @apply p-[1px] text-xs text-center flex items-center justify-center border rounded cursor-pointer;
    }

    .sub-option-selected{
      @apply bg-orange-100 text-orange-600  border-orange-600;
    }

    /* card */
    .card{
      @apply bg-[#fff4e9] rounded border border-[#ffc5a7] flex justify-center items-center text-center p-1
    }

  }

/* alpine */
[x-cloak] {
  display: none !important;
}
/* end alpine */

/* loader */
.loader {
  border: 2px solid #ccc;
  border-radius: 50%;
  border-top: 2px solid #ff9400;
  width: 36px;
  height: 36px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
